*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
.main-sec{
    width: 100vw;
    height: 100vh;
    background: url(pics/voting.jpg) center/cover no-repeat;

}
.nav-bar{
    max-width: 100%;
    min-width: 100%;
    display: flex;
    justify-content: space-around;
     flex-wrap: wrap;
}
.links{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
    height: 4rem;
    padding: 1rem;
}
.h1{
    color: red;
}
a{
    color: red;
    text-decoration: none;
    
}
form{
    color: red;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2rem;
    align-items: center;
}
.first{
    display: flex;
    flex-direction: column;
}
.helo{
    color: red;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btn{
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.8rem;
    border-radius: 10px;
    width: 5rem;
    color: white;
    border: none;
}
select,option{
    color: red;
}
.voter{
    display: flex;
    flex-direction: column;
}
label{
    font-size: large;
}
.active{
    background-color: green;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: white;
}